.income{
    background-image: url(../../img/diary/芙丽莲星空.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    font-family: "Ma Shan Zheng", "STKaiti", "KaiTi", serif;
}
.incomeCreate{
    background-image: url(../../img/diary/芙丽莲星空.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    font-family: "Ma Shan Zheng", "STKaiti", "KaiTi", serif;

}
.incomeCreate-from{
    border:1px solid #000000;
    border-radius: 10px;
    background-color:#fcf1f7;
    opacity: 0.65;
}
.incomeCreate-from-field{
    font-size: 16px; padding: 10px; width: 80vw; height:5vh; border:0.5px solid #000000; border-radius: 8px;
}
.income-data-card{
    border:2px solid #fbfb3e; border-radius: 8px; opacity: 0.65; background-color:#f0f5f3; width:92vw; color: #000000; margin-bottom:1vh; margin-left:4vw;
}
.income-data-card-button{
    background-color:#b2f0e1; color:#000000;
}